@using Haircutter.Models

@model List<Customer>

<script type="text/javascript">
    function test() {
        alert("test");
    }
    $(document).ready(function () {

        $(".subTr").click(function() {
            $('.subTr').not(this).removeClass('activeTr');
            $('.cusTr').not(this).removeClass('activeTr');

            $(this).toggleClass('activeTr');
            if ($(".subTr").hasClass("activeTr")) {
                $(".appsActionForSub").removeClass("hide");
                $("#updateSub").prop("disabled", "");
                $("#updateCus").prop("disabled", "disabled");


            } else {

                $(".appsActionForSub").addClass("hide");
                $("#updateSub").prop("disabled", "disabled");

            }
        });

        $(".cusTr").click(function () {
            $('.cusTr').not(this).removeClass('activeTr');
            $('.subTr').not(this).removeClass('activeTr');

            $(this).toggleClass('activeTr');
            if ($(".cusTr").hasClass("activeTr")) {
                $("#updateCus").prop("disabled", "");

                $(".appsActionForSub").addClass("hide");
                $("#updateSub").prop("disabled", "disabled");

            } else {
                $("#updateCus").prop("disabled", "disabled");


            }
        });

        $(".popupWindowClose").click(function () {
            $("#popup").fadeOut();
        })
        $("#updateApp").click(function () {
            var url = '@Url.Action("UpdateApp", "Home")';
            $("#popupinfo").load(url);
            $("#popup").fadeIn();
        });

        $("#displayApp").click(function () {
            //$('#displayApp').attr('disabled', 'disabled');
            var id = $(".activeTr").attr('id');
            var param = id;
            var url = '@Url.Action("DisplayApps", "Home", new { userid = "__param__" })';
            url = url.replace('__param__', encodeURIComponent(param));
            $("#popupinfo").load(url);
            $("#popup").fadeIn();
            //window.location.href = url.replace('__param__', encodeURIComponent(param));
        });
        $("#updateSub").click(function () {

            var url = '@Url.Action("UpdateSub", "Home")';
            $("#popupinfo").load(url);
            $("#popup").fadeIn();
            //window.location.href = url.replace('__param__', encodeURIComponent(pa
        });

        $("#updateCus").click(function () {

            var url = '@Url.Action("UpdateCustomer", "Home")';
            $("#popupinfo").load(url);
            $("#popup").fadeIn();
            //window.location.href = url.replace('__param__', encodeURIComponent(pa
        });

        $("#newCustomer").click(function () {

            var url = '@Url.Action("AddNewCustomer", "Home")';
            $("#popupinfo").load(url);
            $("#popup").fadeIn();
            //window.location.href = url.replace('__param__', encodeURIComponent(pa
        });
        $("#newSub").click(function () {

            var url = '@Url.Action("AddNewSub", "Home")';
            $("#popupinfo").load(url);
            $("#popup").fadeIn();
            //window.location.href = url.replace('__param__', encodeURIComponent(pa
        });
    });
</script>
<div class="container">
    <div class="cardContainer">
        <div class="cardTitle">
            <span>מנויים</span>
        </div>
        <div class="cardSearchBarContainer">
            <input type="text" placeholder="שם מנוי" class="cardSearchBar" />
        </div>
        <div class="cardButtonsHolder">
            <div>
                <input id="newSub" type="button" value="מנוי חדש" />
                <input id="updateSub" disabled="disabled" type="button" value="עדכון מנוי" />
            </div>
            <div class="appsActionForSub hide">
                <input id="updateApp" class="updateAppsButton" type="button" value="עדכן פגישה" />
                

                <input id="displayApp" class="showAppsButton" type="button" value="הצג פגישות" />
            </div>
        </div>
        <table id="subsTable">
            <tr class="tableHeader">
                <th>שם הלקוח</th>
                <th>צבע</th>
                <th>מספר פגישות</th>
            </tr>
            @foreach (var item in Model)
            {
                if (item.isSub)
                {
                    <tr class="subTr" id="@item.Id">
                        <td>@item.firstName</td>
                        <td>#@item.color</td>
                        <td>@item.appointmentsCount</td>

                    </tr>
                }
            }
        </table>
    </div>

    <div class="cardContainer">
        <div class="cardTitle">
            <span>לקוחות</span>
        </div>
        <div class="cardSearchBarContainer">
            <input type="text" placeholder="שם לקוח" class="cardSearchBar" />
        </div>
        <div class="cardButtonsHolder">
            <div>
                <input id="newCustomer" type="button" value="לקוח חדש" />
                <input id="updateCus" disabled="disabled" type="button" value="עדכון לקוח" />
            </div>
        </div>
        <table id="customersTable">
            <tr class="tableHeader">
                <th>שם הלקוח</th>
                <th>צבע</th>
            </tr>
            @foreach (var item in Model)
            {
                if (!item.isSub)
                {
                    <tr class="cusTr" id="@item.Id">
                        <td>@item.firstName</td>
                        <td>#@item.color</td>
                    </tr>
                }
            }
        </table>
    </div>

    <div id="popup" class="popupWindow">
        <div id="popupinfo">

        </div>
        <div class="popupWindowClose">
            X
        </div>
    </div>
</div>